* text=auto

# PowerShell scripts ? CRLF
*.ps1  text eol=crlf
*.psm1 text eol=crlf

# Markdown ? LF
*.md   text eol=lf

# Archives ? binary (??? ????????????)
*.zip  binary
CHECKSUMS*.txt text eol=lf
*.psd1         text eol=crlf
*.yml          text eol=lf
